<style
.shadowed-div-header {
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.shadowed-div-body {
    background-color: #f1f1f1;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background-color: white;
    margin-left: 50%;
}

.div-padre {
    position: relative;
    height: 100vh; /* Establece el alto al 100% del viewport */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.fondo {
    /*background-image: url('/Recursos/Imagenes/diezmo.jpg');*/
    /*background: rgb(0,51,160);*/
    /*background: linear-gradient(90deg, rgba(206,221,255,1) 21%, rgba(255,243,204,1) 73%);*/
    /*background-size: cover;*/
}

.div-hijo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div1 {
    flex-grow: 0;
    width: 400px;
}

.div2 {
    flex-grow: 1;
}

.etiqueta {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-size: 10px;
    color: white;
}

.mycheck2 {
    cursor: pointer;
    background-color: #fff;
    color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #DEE2E6;
    border-radius: 5px;
    background-position: 0 -2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

    .mycheck2:checked {
        background-color: #ffc400;
        color: rgb(75, 156, 13);
        background-position: 0 0;
    }

.btnIniciarSesion {
    font-weight: bold;
    width: 100%;
    margin-top: 80px;
}


.divRecordarPassword {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
}


.divOlvidarrPassword {
    color: #0034A0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 500px;
    right: 50%;
    transform: translate(50%, 100%);
    width: 300px;
    margin-top: 0px;
}

.divContenedorTitulo-Login {
    color: #0034A0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 300px;
    margin-top: -75px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
}

.divContenedorImagen-Login {
    flex-grow: 0;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #E6E7E8;
}

.divContenedorCampos-Login {
    border-width: 0px;
    border-color: black;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    background-color: white;
    flex-grow: 1;
}

/* Passwords */
.contenedor-btn-pass {
    position: relative;
    width: 100%;
}

/* Panel carga */
.panel-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; /* Utilizamos flexbox para centrar contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 9999;
    backdrop-filter: blur(5px);
    transition: all 300ms;
}
