.contenedor_botones {
    position: fixed;
    bottom: 0px;
    right: 20px;
}

.boton_formulario_Agregar {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    background-color: #2F323A;
    color: white;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

    .boton_formulario_Agregar:hover {
        margin-bottom: 15px;
        background-color: dodgerblue;
        color: white;
        transition: all 300ms;
    }


.boton_formulario_Guardar {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    background-color: #2F323A;
    color: white;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

    .boton_formulario_Guardar:hover {
        margin-bottom: 15px;
        background-color: #1E90FF;
        color: white;
        transition: all 300ms;
    }


.boton_formulario_Eliminar {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    background-color: #2F323A;
    color: white;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

    .boton_formulario_Eliminar:hover {
        margin-bottom: 15px;
        background-color: red;
        color: white;
        transition: all 300ms;
    }

.boton_formulario_editar {
    background-color: #1E90FF;
    border-color: #1E90FF;
}

.boton_formulario_descargar_archivo {
    height: 30px;
    width: 30px;
    padding: 7px;
    padding-left: 5px;
    border-radius: 15px;
    margin-bottom: 3px;
}


.boton_formulario_Buscar {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    background-color: #2F323A;
    color: white;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

    .boton_formulario_Buscar:hover {
        margin-bottom: 15px;
        background-color: #1E90FF;
        color: white;
        transition: all 300ms;
    }


.boton_formulario_LimpiarFiltros {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    background-color: #2F323A;
    color: white;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

    .boton_formulario_LimpiarFiltros:hover {
        margin-bottom: 15px;
        background-color: dodgerblue;
        color: white;
        transition: all 300ms;
    }

.boton_formulario_Importar_Archivo {
    display: block;
    text-decoration: none;
    background-color: #2F323A;
    color: white;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

    .boton_formulario_Importar_Archivo:hover {
        margin-bottom: 15px;
        background-color: #05e32a;
        color: white;
        transition: all 300ms;
    }


.boton_formulario_Desplegar_Info {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    background-color: white;
    color: #1E1E1E;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

    .boton_formulario_Desplegar_Info:hover {
        margin-bottom: 15px;
        background-color: #cccccc;
        transition: all 300ms;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    }


.btnMostrarPassword {
    position: absolute;
    top: 50%;
    right: 10px;

    text-decoration: none;
    color: #595C5F;
    position: relative;
    margin-right: -10px;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    width: 18px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

    .btnMostrarPassword:hover {
        color: dodgerblue;
    }

.btnInfoControl {
    text-decoration: none;
}

    .btnInfoControl:hover {
        text-decoration: none;
        color: dodgerblue;
        transition: all 100ms;
    }


.contenedor-div-botones-segmentados {
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    padding: 10px;
}

    .contenedor-div-botones-segmentados:hover {
        background-color: rgb(255, 255, 255, 1);
        box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    }


/*#btnMasBotones{
    display:none;
}
*/

/*.botones_formulario a {
    margin-bottom:-15px;
    opacity: 0;
    visibility: hidden;
}
*/
/*#btnMasBotones:checked ~ .botones_formulario a{
    margin-bottom:10px;
    opacity:1;
    visibility:visible;
}
*/
/*.icono_btn_masbotones{
    cursor:pointer;
    color:white;
    background-color:dodgerblue;
    font-size:25px;
}

#btnMasBotones:checked ~ .btnMasBotones .icono_btn_masbotones {
    transform: rotate(180deg);
    font-size: 25px;
}*/
