
/* CONTENEDOR */

.shadowed-div-header {
    background-color: #f1f1f1;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
}

.shadowed-div-body {
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    padding: 20px;
}

.contenedor-form-opasity {
    /*opacity: 0;*/ /* Establecemos la opacidad inicial en 0 */
    /*transition: opacity 1s ease;*/ /* Definimos la transición para la propiedad "opacity" */

    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }

    20% {
        opacity: 1;
        filter: brightness(2) blur(5px);
    }
}

.contenedor-form-opasity.show { /* La clase "show" activará la transición */
    opacity: 1; /* Opacidad máxima cuando se añade la clase "show" */
}


/* Linea */
.linea-separador {
    height: 1px;
    background-color: lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -20px;
}

/* ESTILOS PARA GRID VIEW */

.div-gridview {
    overflow-x: auto;
    white-space: nowrap;
}

.tabla_header {
    background-image: none;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.RadGrid_Bootstrap .rgPagerCell {
    color: #333;
    background: #f1f5ff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-color: #dedede;
}

.status-green {
    color: black;
    text-decoration: none;
    background-color: #87e888;
    padding: 5px;
    border-radius: 50px;
    width: 130px;
    cursor: default;
}

.status-red {
    color: black;
    text-decoration: none;
    background-color: #e88787;
    padding: 5px;
    border-radius: 50px;
    width: 130px;
    cursor: default;
}

.RadGrid {
    border-radius: 10px;
    overflow: hidden;
}

/* Otros controles */
.LabelCampoObligatorio {
    color: red;
    font-weight: bold;
}

.shadowed-div-body-titulo {
    font-weight: bold;
    color: #5F6F77;
    font-size: 18px;
    margin-right: 10px;
}

/* Alerta de confirmacion */
.swal-text {
    font-size: 16px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    color: rgba(0,0,0,.64);
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
}

.bold-text {
    font-weight: bold;
}


/* Pestaña de de RadPageView */

.RadTabStrip_Bootstrap.rtsTop .rtsLevel1 .rtsLink {
    border-radius: 10px 10px 0 0;
}


/* Modal */
@media (min-width: 576px) {
    .modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    }
}

.modal-body-modified {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
    padding-bottom: 0px;
    margin: 10px;
    background-color: #edf2fc;
    border-radius: 10px;
}


/* Panel carga */
.panel-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; /* Utilizamos flexbox para centrar contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 9999;
    backdrop-filter: blur(5px);
    transition: all 300ms;
}


/* Passwords */
.contenedor-btn-pass {
    position: relative;
    width: 100%;
}


.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}