* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #fff;
}

.wrapper_1 .header_1 {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
    border-bottom: 1px solid;
    border-bottom-color: #e6e7e8;
}

    .wrapper_1 .header_1 .header_1-menu_1 {
        width: calc(100% - 0%);
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.4);
    }

        .wrapper_1 .header_1 .header_1-menu_1 .title_1 {
            color: #0F53CD;
            font-size: 22px;
            font-weight: 900;
        }

            .wrapper_1 .header_1 .header_1-menu_1 .title_1 span {
                color: #F9CB33;
            }

        .wrapper_1 .header_1 .header_1-menu_1 .sidebar_1-btn_1 {
            color: #2F323A;
            position: absolute;
            margin-left: 240px;
            font-size: 22px;
            font-weight: 900;
            cursor: pointer;
            transition: 0.3s;
            transition-property: color;
            margin-left: 230px;
        }

            .wrapper_1 .header_1 .header_1-menu_1 .sidebar_1-btn_1:hover {
                color: #1E90FF;
            }

        .wrapper_1 .header_1 .header_1-menu_1 ul {
            display: flex;
        }

            /*   .wrapper_1 .header_1 .header_1-menu_1 ul li a {
                background-color: transparent;
                color: #000;
                display: block;
                margin: 0 0px;
                font-size: 18px;
                width: 34px;
                height: 34px;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
                transition: 0.3s;
                transition-property: background, color;
                text-decoration: none;
            }

                .wrapper_1 .header_1 .header_1-menu_1 ul li a:hover {
                    background-color: transparent;
                    color: #1E90FF;
                }*/

            .wrapper_1 .header_1 .header_1-menu_1 ul li.icon-btn a {
                display: block;
                margin: 0 0px;
                font-size: 18px;
                width: 33px;
                height: 34px;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
                transition: 0.3s;
                box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
                padding: 14px 18px 14px 18px;
                background-color: white !important;
                border-radius: 10px;
                color: #2F323A
            }

                .wrapper_1 .header_1 .header_1-menu_1 ul li.icon-btn a:hover {
                    background-color: #f8f9fa !important;
                    color: #212529;
                }

            .icono-notify {
                background-color: white !important;
                border-radius: 10px;
                color: #2F323A
            }

                .icono-notify:hover {
                    background-color: #f8f9fa !important;
                    color: #212529;
                }



.wrapper_1 .sidebar_1 {
    z-index: 1;
    background-color: white;
    position: fixed;
    top: 70px;
    width: 290px;
    height: -webkit-fill-available;
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
    border-right: 1px solid;
    border-right-color: #e6e7e8;
}

    .wrapper_1 .sidebar_1 .sidebar_1-menu_1 {
        overflow: hidden;
        background-color: white;
        height: auto;
    }

        .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .profile_1 img {
            margin: 20px 0;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .profile_1 p {
            color: #2F323A;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 {
            width: 100%;
            overflow: hidden;
        }


            .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .menu_1-btn_1 {
                display: block;
                color: #2F323A;
                position: relative;
                padding: 15px 20px;
                transition: 0.3s;
                transition-property: color;
                height: 60px;
            }

                .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .menu_1-btn_1:hover {
                    color: #1E90FF;
                    transition: 0.3s;
                }

                .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .menu_1-btn_1 i {
                    margin-right: 20px;
                }

                .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .menu_1-btn_1 .drop-down_1 {
                    float: right;
                    font-size: 12px;
                    margin-top: 3px;
                }

            .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .sub-menu_1 {
                background: #e6e7e8;
                overflow: hidden;
                max-height: 0;
                transition: 0.3s;
                transition-property: background, max-height;
            }

                .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .sub-menu_1 a {
                    display: block;
                    position: relative;
                    color: #2F323A;
                    white-space: nowrap;
                    font-size: 15px;
                    padding: 10px 20px 10px 20px;
                    transition: 0.3s;
                    transition-property: all;
                    text-decoration: none;
                }

                    .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .sub-menu_1 a:hover {
                        background: #1E90FF;
                        color: white;
                    }

                    .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .sub-menu_1 a:not(last-child) {
                        border-bottom: 1px solid #cfd0d1;
                    }

                .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .sub-menu_1 i {
                    padding-right: 20px;
                    font-size: 10px;
                }

            .wrapper_1 .sidebar_1 .sidebar_1-menu_1 .item_1:target .sub-menu_1 {
                max-height: 500px;
            }

.wrapper_1 .main-container_1 {
    width: calc(100% - 290px);
    margin-top: 70px;
    margin-left: 290px;
    padding: 15px;
    background-size: cover;
    height: auto;
    transition: 0.3s;
}

.wrapper_1.collapse_1 .sidebar_1 {
    width: 70px;
}

    .wrapper_1.collapse_1 .sidebar_1 .profile_1 img,
    .wrapper_1.collapse_1 .sidebar_1 .profile_1 p,
    .wrapper_1.collapse_1 .sidebar_1 a span {
        display: none;
    }

    .wrapper_1.collapse_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .menu_1-btn_1 {
        font-size: 23px;
    }

    .wrapper_1.collapse_1 .sidebar_1 .sidebar_1-menu_1 .item_1 .sub-menu_1 i {
        font-size: 18px;
        padding-left: 3px;
    }

.wrapper_1.collapse_1 .main-container_1 {
    width: calc(100% - 70px);
    margin-left: 70px;
}

.wrapper_1 .main-container_1 .card_1 {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

/*.wrapper_1 .sidebar_1 {
    z-index: 1;
    background-color: white;
    position: fixed;
    top: 70px;
    width: 290px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid;
    border-right-color: #e6e7e8;
}
*/
/* Fondo del body y html*/
.fondo {
    /*  background-image: url('/Recursos/Imagenes/Fondos/fondo_login.png'); */
    background: rgb(241,245,255);
    background: linear-gradient(90deg, rgba(241,245,255,1) 21%, rgba(238,243,255,1) 73%);
}



.dropdown-menu {
    display: none; /* oculto por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.175);
    display: none !important; /* 👈 fuerza que no se muestre por defecto */
}

    .dropdown-menu.show {
        display: block !important; /* 👈 permite a Bootstrap mostrarlo solo al click */
    }


    .dropdown-menu .dropdown-item {
        display: block;
        width: 100%;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        padding: 0.25rem 1.5rem;
    }

        .dropdown-menu .dropdown-item:hover {
            background-color: #f8f9fa; /* color claro de hover */
            color: #212529;
        }

.boton-cerrar-sesion:hover {
    background-color: #f8f9fa; /* color claro de hover */
    color: #dc3545 !important;
}

.contenedor-boton-usuario {
    cursor: pointer;
    margin: 0 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    padding: 6px 15px 6px 15px;
    background-color: white;
}

    .contenedor-boton-usuario:hover {
        background-color: transparent; /* color claro de hover */
        color: #212529;
    }

.boton-notificacion:hover {
    background-color: transparent !important; /* color claro de hover */
    color: #212529 !important;
}



/* Fondo oscuro */
.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

    .custom-overlay.show {
        opacity: 1;
        visibility: visible;
    }

/* Panel lateral derecho */
.custom-panel {
    position: fixed;
    top: 0;
    right: -400px; /* oculto al inicio */
    width: 350px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

/* Cabecera del panel */
.panel-header {
    padding: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

/* Cuerpo del panel */
.panel-body {
    padding: 15px;
    overflow-y: auto;
    flex-grow: 1;
}

/* Botón X */
.btn-cerrar {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Mostrar cuando se active */
.custom-overlay.show {
    display: block;
}

.custom-panel.show {
    right: 0;
}


.notificacion {
    display: flex;
    align-items: flex-start;
    background-color: #F9FBFF;
    padding: 12px 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

    .notificacion:hover {
        background-color: #f1f1f1;
    }

.icono-notificacion {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 3px;
}

/* Variantes de color */
.notificacion-system .icono-notificacion {
    color: #212529;
}

.notificacion-info .icono-notificacion {
    color: #0dcaf0;
}

.notificacion-success .icono-notificacion {
    color: #198754;
}

.notificacion-warning .icono-notificacion {
    color: #ffc107;
}

.notificacion-danger .icono-notificacion {
    color: #dc3545;
}

.contenido-notificacion {
    flex: 1;
    font-size: 14px;
}

.hora-notificacion {
    display: block;
    font-size: 12px;
    color: #6c757d;
    margin-top: 3px;
}

.btn-eliminar-notificacion {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #6c757d;
    cursor: pointer;
    margin-left: 10px;
    align-self: start;
    transition: color 0.2s ease;
}

    .btn-eliminar-notificacion:hover {
        color: #000;
    }

.notificacion {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    .notificacion.ocultar {
        opacity: 0;
        transform: translateX(100%);
    }



.btn-marcar-notificacion {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #6c757d;
    cursor: pointer;
    margin-left: 10px;
    align-self: start;
    transition: color 0.2s ease;
}

    .btn-marcar-notificacion:hover {
        color: #69AF58;
    }


.badge-nueva {
    width: 15px;
    height: 15px;
    background-color: #108df7;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 10;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.badge-nueva-boton {
    width: 15px;
    height: 15px;
    background-color: #108df7;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px; /* <-- antes era left */
    z-index: 10;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}


.div-sin-notificaciones {
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    align-content: center;
}